/* colors */
$orange: #ff8b00;
$blue: #5597FF;
$pink: #FF80B6;
$grey: #D9D9D9;
$green:#9FC3A6; //A3EBB1
$brown: #744F29;
$grayText: #696969;
$strongGrey: #979797;

/* colors */
$orange-hover: #c19e72;
$blue-hover: #6d8fc5;
$pink-hover: #cc7696;
$grey-hover: #989494;
$green-hover: #A3EBB1; //A3EBB1
$brown-hover: #c97f3a;
$grayText-hover: #575454;
$strongGrey-hover: #595757;
