@use "/src/sass/breakpoints"as v;
@use "/src/sass/mixins"as m;
@use "/src/sass/helpers/functions"as f;
@use "/src/sass/layout/index"as l;

* {
  font-family: 'Roboto', sans-serif;
}

body,
html,
#app {
  height: 100%;
}

html {
  font-size: 16px;
  position: relative;
}

button,
a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: f.toRem(576, 16);

  @include m.breakpoint-up(medium) {
    max-width: f.toRem(900, 16);
  }

  @include m.breakpoint-up(large) {
    max-width: f.toRem(1280, 16);
  }
  // A définir
  // 576px
  //max-width: 38.4rem;
  //margin: 0 auto;
}

/* @media screen and (min-width: $tablet-min) {

  .container {
    // 1090px
    max-width: 66.133333rem;
  }
}

@media screen and (min-width: $desktop-min) {

  .container {
    // 1280px;
    max-width: 85.333333rem;
  }
} */
