<main>
  <h1>
    Info Produit
  </h1>
  <div class="top">
    <p class="specie-name">Berger Allemand</p>
    <p class="age">8 mois</p>
    <p class="price">$129</p>
  </div>
  <section class="detail">
    <button class="cart_btn pink">
      <img src="assets/images/shopping_bag.png" alt="bag shopping icon">
    </button>
    <div class="gallery">
      <div class="main-picture domes-shadow brown">
        <img
          src="https://mag.bullebleue.fr/sites/mag/files/styles/breed_image_large/public/img/races/chien/berger-allemand.jpg?itok=usY0pUo2"
          alt="">
      </div>
      <div class="others">
        <div class="picture second-picture">
          <img
            src="https://mag.bullebleue.fr/sites/mag/files/styles/breed_image_large/public/img/races/chien/berger-allemand.jpg?itok=usY0pUo2"
            alt="">
        </div>
        <div class="picture third-picture">
          <img
            src="https://mag.bullebleue.fr/sites/mag/files/styles/breed_image_large/public/img/races/chien/berger-allemand.jpg?itok=usY0pUo2"
            alt="Image 2">
        </div>
        <div class="picture fourth-picture">
          <img
            src="https://mag.bullebleue.fr/sites/mag/files/styles/breed_image_large/public/img/races/chien/berger-allemand.jpg?itok=usY0pUo2"
            alt="Image 3">
        </div>
      </div>
    </div>
    <p class="description">
      Le berger allemand est une race de chiens tirant son nom de son pays d'origine, l'Allemagne, où elle est apparue à
      la fin du XIXᵉ siècle.
    </p>
  </section>
</main>
