<main>
  <h1>
    Info Produit
  </h1>
  <div class="top">
    <p class="specie-name">{{currentAnimal.specie!.name}}</p>
    <p class="age">{{currentAnimal.age}} mois</p>
    <p class="price">{{currentAnimal.price}}<mat-icon>euro_symbol</mat-icon></p>
  </div>
  <section class="detail">
    <button class="cart_btn pink" [ngStyle]="{backgroundColor: isAlreadyAdded(currentAnimal.id) && '#ccc'}" (click)="addToCart(currentAnimal)" [disabled]="isAlreadyAdded(currentAnimal.id)">
      <img src="assets/images/shopping_bag.png" alt="bag shopping icon">
    </button>
    <div class="gallery">
      <div class="main-picture domes-shadow brown">
        <img
          [src]="currentAnimal.mainPicture ? currentAnimal.mainPicture : noPictureImgSrc"
          alt="product image">
      </div>
      <div class="others">
        <div class="picture second-picture">
          <img
            [src]="currentAnimal.secondPicture ? currentAnimal.secondPicture : noPictureImgSrc"
            alt="Image 2">
        </div>
        <div class="picture third-picture">
          <img
            [src]="currentAnimal.thirdPicture ? currentAnimal.thirdPicture : noPictureImgSrc"
            alt="Image 3">
        </div>
        <div class="picture fourth-picture">
          <img
            [src]="currentAnimal.fourthPicture ? currentAnimal.fourthPicture : noPictureImgSrc"
            alt="Image 4">
        </div>
      </div>
    </div>
    <p class="description">
      {{currentAnimal.description}}
    </p>
  </section>
</main>
