@use "/src/sass/helpers/functions" as f;
@use "/src/sass/colors" as c;
@use "/src/sass/typography" as t;
@use "/src/sass/mixins" as m;
@use "/src/sass/layout/index" as l;

main {
  padding-bottom: f.toRem(107, 16);

  @include m.breakpoint-up(medium) {
    padding-bottom: f.toRem(118, 16);
  }
  h1, .specie-name {
    font-style: normal;
    font-weight: 600;
    font-size: f.toRem(18, 16);
    line-height: f.toRem(21, 16);
    text-align: center;
    color: #000000;

    @include m.breakpoint-up(medium) {
      font-weight: bold;
      font-size: unset;
      line-height: unset;
      text-align: left;
    }
  }

  h1 {
    @include m.breakpoint-up(medium) {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
      margin-bottom: f.toRem(84, 16);
    }
  }

  .specie-name {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  .top {
    margin-bottom: f.toRem(30, 16);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: f.toRem(15, 16);
    grid-template-areas:
      "specie specie"
      "age    price";

    .specie-name {
      grid-area: specie;
      @include m.breakpoint-up(medium) {
        margin-bottom: f.toRem(10, 16);
      }
    }

    .age {
      grid-area: age;
      @include t.textBody;
      text-align: right;
      padding-right: f.toRem(22, 16);

      @include m.breakpoint-up(medium) {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 25px;
        color: c.$grayText;
        padding-right: unset;
        text-align: left;
      }
    }

    .price {
      grid-area: price;
      font-style: normal;
      font-weight: 700;
      font-size: f.toRem(18, 16);
      line-height: f.toRem(20, 16);
      color: c.$orange;
      padding-left: f.toRem(22, 16);

      @include m.breakpoint-up(medium) {
        font-size: f.toRem(38, 16);
        text-align: right;
      }
    }
  }

  .detail {
    position: relative;

    .cart_btn {
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
      width: f.toRem(50, 16);
      height: f.toRem(50, 16);
      border: none;
      border-radius: f.toRem(10, 16);

      img {
        width: f.toRem(30, 16);
        height: f.toRem(30, 16);
      }
    }

    .gallery {
      margin-bottom: f.toRem(40, 16);

      .main-picture {
        margin-bottom: f.toRem(40, 16);
      }

      .others {
        display: flex;
        padding: f.toRem(10, 16) f.toRem(15, 16);
        background-color: c.$grey;
        border-radius: 4px;
        justify-content: space-between;
        gap: f.toRem(20, 16);
      }

      .others > .picture {
        border: 2px solid #000000;
        border-radius: 4px;

      }
    }

    .description {
      font-style: normal;
      font-weight: 400;
      font-size: f.toRem(16, 16);
      line-height: f.toRem(25, 16);
      text-align: center;
      color: #000000;

      @include m.breakpoint-up(medium) {
        font-size: f.toRem(24, 16);
        line-height: f.toRem(40, 16);
        padding: 0 f.toRem(24, 16);
      }
    }
  }
}
