<header class="mobile-header hide-for-tablet-and-desktop container">
  <div class="mobile-header-left logo">
    <img ngSrc="assets/images/logo.png" height="500" width="500" alt="Domes Logo">
    <span>Domes</span>
  </div>
  <div class="mobile-header-right">
  <p *ngIf="(client$ | async)?.id" class="welcome-message"><i>Bonjour, </i> <b> {{client$ | async | getPropertyValueByName: 'firstname' | titlecase}}</b></p>
  <div (click)="openMenu()" class="hamburger">
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="20" height="4" fill="#5597FF"/>
      <rect y="8" width="20" height="4" fill="#5597FF"/>
      <rect y="16" width="20" height="4" fill="#5597FF"/>
    </svg>
  </div>
  </div>
  <div *ngIf="mobileMenuOpened$ | async" class="menu-container hide-for-tablet-and-desktop">
    <div (click)="closeMenu()" class="menu-backdrop"></div>
    <app-menu></app-menu>
  </div>
</header>
