@use "/src/sass/helpers/functions" as f;
@use "/src/sass/colors" as c;
@use "/src/sass/typography" as t;

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: f.toRem(38, 16) 0 f.toRem(32, 16) 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: f.toRem(40, 16);
      height: auto;
    }

    span {
      font-size: f.toRem(14, 16);
      font-weight: bold;
      line-height: f.toRem(16.41, 16);
    }
  }

  .mobile-header-right {
    display: flex;
    align-items: baseline;
  }

  .welcome-message {
    font-size: f.toRem(12, 16);
    line-height: f.toRem(16.41, 16);
    margin-right: f.toRem(24, 16);
  }

  .hamburger {
    cursor: pointer;
  }

  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .menu-backdrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(#000, 0.2);
    }
  }
}
