<div id="mobile-login" class="hide-for-tablet-and-desktop">
  <form [formGroup]="mobileLoginForm" (ngSubmit)="submit()">
    <div class="field">
      <label>Email</label>
      <input class="domes-input" type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="field">
      <label>Mot de passe</label>
      <input class="domes-input" type="password" name="password" id="password" formControlName="password">
    </div>
    <div class="cta">
      <button class="domes-btn orange" type="submit" [disabled]="mobileLoginForm.invalid">Se connecter</button>
    </div>
    <p><a routerLink="/signup">Pas encore inscrit?</a></p>
  </form>
</div>
