<main>
  <h1>Nos Produits</h1>
  <div class="scrolling-banner">
    <div class="banner-bg"></div>
    <div class="banner">
    <span class="specie-name" *ngFor="let specie of currentSpecieNames">
      {{specie}}
    </span>
    </div>
  </div>
  <div class="filter-cta">
    <button (click)="openFilter()">
      <svg width="52px" height="52px" viewBox="-7.2 -7.2 38.40 38.40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0">
          <rect x="-7.2" y="-7.2" width="38.40" height="38.40" rx="19.2" fill="#5597FF"></rect>
        </g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M14.3201 19.07C14.3201 19.68 13.92 20.48 13.41 20.79L12.0001 21.7C10.6901 22.51 8.87006 21.6 8.87006 19.98V14.63C8.87006 13.92 8.47006 13.01 8.06006 12.51L4.22003 8.47C3.71003 7.96 3.31006 7.06001 3.31006 6.45001V4.13C3.31006 2.92 4.22008 2.01001 5.33008 2.01001H18.67C19.78 2.01001 20.6901 2.92 20.6901 4.03V6.25C20.6901 7.06 20.1801 8.07001 19.6801 8.57001"
            stroke="#ffffff" stroke-width="1.9200000000000004" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M16.07 16.52C17.8373 16.52 19.27 15.0873 19.27 13.32C19.27 11.5527 17.8373 10.12 16.07 10.12C14.3027 10.12 12.87 11.5527 12.87 13.32C12.87 15.0873 14.3027 16.52 16.07 16.52Z"
            stroke="#ffffff" stroke-width="1.9200000000000004" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M19.87 17.12L18.87 16.12" stroke="#ffffff" stroke-width="1.9200000000000004" stroke-linecap="round"
                stroke-linejoin="round"></path>
        </g>
      </svg>
    </button>
  </div>
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Tapez votre recherche</mat-label>
      <input type="search" matInput placeholder="ex: Yorkshire" [formControl]="searchFormControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <hr>
  <div class="products"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="500"
       [scrollWindow]="false"
       (scrolled)="onScroll()">
    <div [class]="generateCardColor(product.category.name)" [@fadeInOut] *ngFor="let product of products">
      <div class="main-picture" (click)="showDetail(product.id)">
        <img [src]="product.mainPicture ? product.mainPicture : noPictureImgSrc" alt="main picture of the current product">
      </div>
      <div [ngClass]="generateInfoColor(product.category.name)">
        <div class="specie">
          <span> {{product.specie.name}} </span>
        </div>
        <div class="cta hide-for-mobile">
          <button class="add-to-cart pink" [ngStyle]="{backgroundColor: isAlreadyAdded(product.id) && '#ccc'}" (click)="addToCart(product)" [disabled]="isAlreadyAdded(product.id)">
            <img src="assets/images/shopping_bag.png" alt="bag shopping icon">
          </button>
        </div>
<!--        <div class="more hide-for-mobile" (click)="showDetail(product.id)">-->
<!--          <mat-icon>info</mat-icon>-->
<!--        </div>-->
        <div class="price hide-for-mobile">
          <span> {{product.price}} </span>
          <mat-icon>euro_symbol</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <!--  <div class="pagination">-->
  <!--    <button class="circle first-page">-->
  <!--      <svg width="30px" height="30px" viewBox="0 0 25 25" fill="none"-->
  <!--           xmlns="http://www.w3.org/2000/svg">-->
  <!--        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>-->
  <!--        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>-->
  <!--        <g id="SVGRepo_iconCarrier">-->
  <!--          <path d="M12.5 17L8 12.5L12.5 8M16.5 17L12 12.5L16.5 8" stroke="#FFFFFF"-->
  <!--                stroke-width="1.2"></path>-->
  <!--        </g>-->
  <!--      </svg>-->
  <!--    </button>-->
  <!--    <button class="square prev">-->
  <!--      <svg width="30px" height="30px" viewBox="0 0 25 25" fill="none"-->
  <!--           xmlns="http://www.w3.org/2000/svg">-->
  <!--        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>-->
  <!--        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>-->
  <!--        <g id="SVGRepo_iconCarrier">-->
  <!--          <path d="M14.5 17L10 12.5L14.5 8" stroke="#FFFFFF" stroke-width="1.2"></path>-->
  <!--        </g>-->
  <!--      </svg>-->
  <!--      <span>Pré</span>-->
  <!--    </button>-->
  <!--    <button class="square next">-->
  <!--      <span>Suiv</span>-->
  <!--      <svg width="30px" height="30px" viewBox="0 0 25 25" fill="none"-->
  <!--           xmlns="http://www.w3.org/2000/svg">-->
  <!--        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>-->
  <!--        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>-->
  <!--        <g id="SVGRepo_iconCarrier">-->
  <!--          <path d="M10.5 8L15 12.5L10.5 17" stroke="#FFFFFF" stroke-width="1.2"></path>-->
  <!--        </g>-->
  <!--      </svg>-->
  <!--    </button>-->
  <!--    <button class="circle last-page">-->
  <!--      <svg width="30px" height="30px" viewBox="0 0 25 25" fill="none"-->
  <!--           xmlns="http://www.w3.org/2000/svg" stroke="#93A2DD">-->
  <!--        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>-->
  <!--        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>-->
  <!--        <g id="SVGRepo_iconCarrier">-->
  <!--          <path d="M12.5 8L17 12.5L12.5 17M8.5 8L13 12.5L8.5 17" stroke="#FFFFFF"-->
  <!--                stroke-width="1.2"></path>-->
  <!--        </g>-->
  <!--      </svg>-->
  <!--    </button>-->
  <!--  </div>-->
</main>
