@use "/src/sass/helpers/functions" as f;
@use "/src/sass/colors" as c;
@use "/src/sass/typography" as t;
@use "/src/sass/mixins" as m;

.app-domes {
  padding: 0 f.toRem(24, 16);
  main {
    padding: f.toRem(64, 16) f.toRem(16, 16) f.toRem(0, 16) f.toRem(16, 16);
    border: 2px solid #000000;
    border-radius: f.toRem(4, 16) f.toRem(4, 16) 0 0;
    @include m.breakpoint-up(medium) {
      padding: f.toRem(60, 16) f.toRem(28, 16) f.toRem(0, 16) f.toRem(27, 16);
    }
  }
}
