<div class="filter">
  <nav>
    <ul>
      <li *ngFor="let category of data.categories">
        <button (click)="updateCategory(category)" class="cat-button"
                [ngClass]="generateButtonStyle(category.name)">
          {{category.name | uppercase}}
        </button>
      </li>
    </ul>
  </nav>
  <div class="filter">
    <div class="select-specie">
      <select [formControl]="specie">
        <option selected>
          ALL
        </option>
        <option *ngFor="let specie of currentSpecies; let index = index;" [ngValue]="specie">
          {{ specie.name }}
        </option>
      </select>
    </div>
    <div class="radios">
      <div class="price">
        <div class="field" *ngFor="let price of prices">
          <input type="radio" name="price" (change)="updatePrice(price.value)" [(ngModel)]="selectedPrice"
                 [value]="price.value">
          <label>{{price.label}}</label>
        </div>
      </div>
      <div class="age">
        <div class="field" *ngFor="let age of ages">
          <input type="radio" name="age" (change)="updateAge(age.value)" [(ngModel)]="selectedAge" [value]="age.value">
          <label>{{age.label}}</label>
        </div>
      </div>
    </div>
    <div class="cta">
      <button class="cancel domes-btn grey" (click)="close()">Cancel</button>
      <button class="search domes-btn blue" (click)="submit()">Rechercher</button>
    </div>
  </div>
</div>
