<main>
  <section class="first-section">
    <h1>Chez Domes, venez trouver vos futures animaux de compagnie </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur lacinia dui. Morbi eget elit rutrum
      ante porttitor porttitor</p>
    <div class="cta">
      <app-domes-button>Voir Maintenant</app-domes-button>
    </div>
    <div class="figures">
      <div>
        <span class="figure">250+</span>
        <span>Animaux disponibles</span>
      </div>
      <div>
        <span class="figure">2.5k+</span>
        <span>Clients</span>
      </div>
    </div>
  </section>
  <section class="commitments">
    <h2>Nous nous engageons à ce que</h2>
    <div class="commitment">
      <div class="icon">
        <img src="assets/images/tampon-icon.png">
      </div>
      <p>Tous nos animaux de compagnie en vente, notamment les chiots, sont en bonne santé et titulaires de papiers
        d’immatriculation. </p>
    </div>
    <div class="commitment">
      <div class="icon">
        <img src="assets/images/vaccin-icon.png">
      </div>
      <p>Chez nous, les animaux sont vendus vaccinés, avec une puce pour les voyages en Europe et à l’étranger ainsi que
        vermifugés.</p>
    </div>
    <div class="commitment">
      <div class="icon">
        <img src="assets/images/virus-icon.png">
      </div>
      <p> Ce sont également des animaux testés contre les maladies infectieuses, ce qui prouve leur bonne santé.</p>
    </div>
    <p>En adoptant un animal chez Domes, vous n’avez plus rien à faire sauf lui choisir un petit nom !</p>
  </section>
  <section class="categories">
    <h2>Découvrez nos Catégories</h2>
    <div class="category cat">
      <div>
        <img src="assets/images/cat.png">
      </div>
      <p>100+ espèces de chat !</p>
    </div>
    <div class="category dog">
      <div>
        <img src="assets/images/dog.png">
      </div>
      <p>250+ espèces de chien !</p>
    </div>
    <div class="category bird">
      <div>
        <img src="assets/images/bird.png">
      </div>
      <p>200+ espèces d'oiseau !</p>
    </div>
    <div class="category fish">
      <div>
        <img src="assets/images/fish.png">
      </div>
      <p>50+ espèces de poisson !</p>
    </div>
    <div class="category reptile">
      <div>
        <img src="assets/images/tortoise.png">
      </div>
      <p>50+ espèces de reptile !</p>
    </div>
  </section>
  <section class="partners">
    <h2>Nos Partenaires</h2>
    <div class="cards">
      <div class="card transex">
        <div class="card-header">
          <img src="assets/images/transex-logo.png" alt="transex logo">
          <p class="slogan">TranSex, pour une reception garantie</p>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere turpis a pellentesque pulvinar.
          </p>
        </div>
      </div>
      <div class="card bp">
        <div class="card-header">
          <img src="assets/images/bp-logo.png" alt="banque populaire logo">
          <p class="slogan">Avec la Banque populaire, payer l’esprit tranquille</p>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere turpis a pellentesque pulvinar.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
