<div class="cart">
  <h1>Votre commande</h1>
  <div class="layout">
    <section class="resume">
      <p class="section-title">Récapitulatif de la commande</p>
      <!-- RESUME ORDER DROPDOWN BAR -->
      <div (click)="toggleSection(SECTION_NAMES.RESUME)" class="toggle-bar hide-for-tablet-and-desktop">
        <div class="bar"></div>
        <div [@rotate180deg]="sectionStates.resume ? 'up' : 'down'" class="arrow">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M16,1A15,15,0,1,1,1,16,15,15,0,0,1,16,1Zm0,28A13,13,0,1,0,3,16,13,13,0,0,0,16,29Z"/>
            <path
              d="M10.41,12.13,16,17.71l5.59-5.58a1,1,0,0,1,1.41,0h0a1,1,0,0,1,0,1.41L16.64,19.9a.91.91,0,0,1-1.28,0L9,13.54a1,1,0,0,1,0-1.41H9A1,1,0,0,1,10.41,12.13Z"/>
          </svg>
        </div>
      </div>
      <!-- RESUME ORDER DROPDOWN BAR -->
      <div @openClose *ngIf="sectionStates.resume" class="section-container">
        <div class="articles">
          <div class="article" *ngFor="let article of articles">
          <span
            class="specie-name">{{article.specie.length < 20 ? article.specie : article.specie.substring(0, 20) + "..."}}</span>
            <span class="age">{{article.age}} mois</span>
            <span class="reference">ref: {{article.id}}</span>
            <span class="price">$ {{article.price}}</span>
          </div>
        </div>
        <div class="total">
          <span>Total</span>
          <span>$387</span>
        </div>
        <div class="cta">
          <button class="buy">Confirmer la commande</button>
        </div>
      </div>
    </section>
    <section class="shipping-info">
      <p class="section-title">Information de livraison</p>
      <!-- SHIPPING INFO DROPDOWN BAR -->
      <div (click)="toggleSection(SECTION_NAMES.SHIPPING_INFO)" class="toggle-bar hide-for-tablet-and-desktop">
        <div class="bar"></div>
        <div [@rotate180deg]="sectionStates.shippingInfo ? 'up' : 'down'" class="arrow">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M16,1A15,15,0,1,1,1,16,15,15,0,0,1,16,1Zm0,28A13,13,0,1,0,3,16,13,13,0,0,0,16,29Z"/>
            <path
              d="M10.41,12.13,16,17.71l5.59-5.58a1,1,0,0,1,1.41,0h0a1,1,0,0,1,0,1.41L16.64,19.9a.91.91,0,0,1-1.28,0L9,13.54a1,1,0,0,1,0-1.41H9A1,1,0,0,1,10.41,12.13Z"/>
          </svg>
        </div>
      </div>
      <!-- SHIPPING INFO DROPDOWN BAR -->
      <div @openClose *ngIf="sectionStates.shippingInfo" class="section-container">
        <div class="fields">
          <div class="field lastname">
            <label>Nom</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field firstname">
            <label>Prénom</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field phone">
            <label>Tél</label>
            <input class="domes-input" type="tel"/>
          </div>
          <div class="field email">
            <label>Email</label>
            <input class="domes-input" type="email"/>
          </div>
          <div class="field country">
            <label>Pays</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field city">
            <label>Ville</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field street">
            <label>Rue</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field zipcode">
            <label>Code Postal</label>
            <input class="domes-input" type="text"/>
          </div>
        </div>
      </div>
    </section>
    <section class="payment">
      <p class="section-title">Information de paiement</p>
      <!-- PAYMENT DROPDOWN BAR -->
      <div (click)="toggleSection(SECTION_NAMES.PAYMENT)" class="toggle-bar hide-for-tablet-and-desktop">
        <div class="bar"></div>
        <div [@rotate180deg]="sectionStates.payment ? 'up' : 'down'" class="arrow">
          <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M16,1A15,15,0,1,1,1,16,15,15,0,0,1,16,1Zm0,28A13,13,0,1,0,3,16,13,13,0,0,0,16,29Z"/>
            <path
              d="M10.41,12.13,16,17.71l5.59-5.58a1,1,0,0,1,1.41,0h0a1,1,0,0,1,0,1.41L16.64,19.9a.91.91,0,0,1-1.28,0L9,13.54a1,1,0,0,1,0-1.41H9A1,1,0,0,1,10.41,12.13Z"/>
          </svg>
        </div>
      </div>
      <!-- PAYMENT DROPDOWN BAR -->
      <div @openClose *ngIf="sectionStates.payment" class="section-container">
        <div class="fields">
          <div class="field card-number">
            <label>N° carte bancaire</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field owner">
            <label>Nom sur la carte</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field cvv">
            <label>Code de sécurité (CVV)</label>
            <input class="domes-input" type="text"/>
          </div>
          <div class="field expiration">
            <label>Date d'expiration</label>
            <div class="select-fields">
              <select class="month-select domes-select">
                <option *ngFor="let month of months" [value]="month">{{month}}</option>
              </select>
              <select class="year-select domes-select">
                <option *ngFor="let year of years" [value]="year">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
