<div class="cart">
  <h1>Votre commande</h1>
  <!--  <section class="resume">-->
  <!--    <p class="section-title">Récapitulatif de la commande</p>-->
  <!--    <div class="toggle-bar">-->
  <!--      <div class="bar"></div>-->
  <!--      <div class="arrow">-->
  <!--        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">-->
  <!--          <path d="M16,1A15,15,0,1,1,1,16,15,15,0,0,1,16,1Zm0,28A13,13,0,1,0,3,16,13,13,0,0,0,16,29Z"/>-->
  <!--          <path-->
  <!--            d="M10.41,12.13,16,17.71l5.59-5.58a1,1,0,0,1,1.41,0h0a1,1,0,0,1,0,1.41L16.64,19.9a.91.91,0,0,1-1.28,0L9,13.54a1,1,0,0,1,0-1.41H9A1,1,0,0,1,10.41,12.13Z"/>-->
  <!--        </svg>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="container">-->
  <!--      <div class="articles">-->
  <!--        <div class="article" *ngFor="let article of articles">-->
  <!--          <span class="specie-name">{{article.specie}}</span>-->
  <!--          <span class="age">{{article.age}}</span>-->
  <!--          <span class="reference">ref: {{article.id}}</span>-->
  <!--          <span class="price">{{article.price}}</span>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="total">-->
  <!--        <span>Total</span>-->
  <!--        <span>$387</span>-->
  <!--      </div>-->
  <!--      <div class="cta">-->
  <!--        <button class="buy">Confirmer la commande</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->
  <section class="shipping-info">
    <p class="section-title">Récapitulatif de la commande</p>
    <div class="toggle-bar">
      <div class="bar"></div>
      <div class="arrow">
        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path d="M16,1A15,15,0,1,1,1,16,15,15,0,0,1,16,1Zm0,28A13,13,0,1,0,3,16,13,13,0,0,0,16,29Z"/>
          <path
            d="M10.41,12.13,16,17.71l5.59-5.58a1,1,0,0,1,1.41,0h0a1,1,0,0,1,0,1.41L16.64,19.9a.91.91,0,0,1-1.28,0L9,13.54a1,1,0,0,1,0-1.41H9A1,1,0,0,1,10.41,12.13Z"/>
        </svg>
      </div>
    </div>
    <div class="container">
      <div class="fields">
        <div class="field name">
          <label>Nom</label>
          <input type="text"/>
        </div>
        <div class="field firstname">
          <label>Prénom</label>
          <input type="text"/>
        </div>
        <div class="field phone">
          <label>Tél</label>
          <input type="tel"/>
        </div>
        <div class="field email">
          <label>Email</label>
          <input type="email"/>
        </div>
        <div class="field country">
          <label>Pays</label>
          <input type="text"/>
        </div>
        <div class="field city">
          <label>Ville</label>
          <input type="text"/>
        </div>
        <div class="field street">
          <label>Rue</label>
          <input type="text"/>
        </div>
        <div class="field zipcode">
          <label>Code Postal</label>
          <input type="text"/>
        </div>
      </div>
    </div>
  </section>
  <!--  <section class="payment"></section>-->
</div>
