@use '/src/sass/colors'as c;
@use '/src/sass/typography'as t;
@use '/src/sass/helpers/functions'as f;

@mixin domes-card {
  filter: drop-shadow(8px 8px 0px #000000);
  border: 2px solid #000000;
  border-radius: 4px;
}
