@use '/src/sass/colors'as c;
@use '/src/sass/typography'as t;
@use '/src/sass/helpers/functions'as f;
@use '/src/sass/mixins'as m;

.domes-shadow {
  border: 2px solid #000000;
  border-radius: 4px;

  &.orange {
    filter: drop-shadow(8px 8px 0px c.$orange);
  }

  &.brown {
    filter: drop-shadow(8px 8px 0px c.$brown);
  }

  &.blue {
    filter: drop-shadow(8px 8px 0px c.$blue);
  }

  &.green {
    filter: drop-shadow(8px 8px 0px c.$green);
  }

  &.grey {
    filter: drop-shadow(8px 8px 0px c.$grey);
  }
}

.domes-select {
  & {
    appearance: none;
    border: none;
    background: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
  }

  /* Add custom styling */
  & {
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
  }

  /* Style the dropdown arrow */
  &::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #000000;
  }

  /* Style the options */
  & option {
    background-color: #fff;
    color: #000000;
  }

  /* Style the selected option */
  & option:checked {
    background-color: #000000;
  }
}

.domes-input {
  @include t.textBody;
  padding-left: f.toRem(12, 16);
  border: 1px solid #ccc;
  border-radius: 4px;
  height: f.toRem(35,16);
  font-weight: 600;
  text-align: left;
}

.domes-btn {
  filter: drop-shadow(8px 8px 0px #000000);
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: f.toRem(10, 16);
  line-height: f.toRem(20, 16);
  font-weight: bold;
  letter-spacing: .05em;
  color: #ffffff;
  padding: f.toRem(6, 16) f.toRem(33, 16);
}

.orange {
  background: rgba(255, 139, 0, 1);
}

.blue {
  background: c.$blue;
}

.green {
  background: c.$green;
}

.brown {
  background: c.$brown;
}

.pink {
  background: c.$pink;
}

.grey {
  background: c.$grey;
}

.black {
  background: #000000;
}
