<!--lastname-->
<!--firstname-->
<!--phonenumber-->
<!--country-->
<!--city-->
<!--street-->
<!--zipcode-->
<!--email-->
<!--password-->
<!--confirm password-->
<div class="root">
  <h1>Inscription</h1>
  <form>
    <div class="fields">
      <div class="field">
        <label>Nom</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Prénom</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Tél</label>
        <input class="domes-input" type="tel"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Pays</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Ville</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Rue</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Code Postale</label>
        <input class="domes-input" type="text"/>
        <small>Champ obligatoire</small>
      </div>
      <div class="field">
        <label>Email</label>
        <input class="domes-input" type="email"/>
        <small>Email non conforme</small>
      </div>
      <div class="field">
        <label>Mot de passe</label>
        <input class="domes-input" type="password"/>
        <small>Doit contenir au moins 8 caractères</small>
      </div>
      <div class="field">
        <label>Confirmation du mot de passe</label>
        <input class="domes-input" type="password"/>
        <small>les mots de passes ne sont pas identiques</small>
      </div>
    </div>
    <div class="cta">
      <button class="domes-btn gris">Annuler</button>
      <button class="domes-btn orange">Envoyer</button>
    </div>
    <p>Vous avez déja un compte ?</p>
  </form>
</div>
