<div class="root">
  <div class="menu-content">
    <p (click)="closeMenu()" class="close">X</p>
    <nav>
      <li (click)="closeMenu()">
        <a routerLink="/home">Accueil</a>
      </li>
      <li (click)="closeMenu()">
        <a routerLink="/products">Nos Produits</a>
      </li>
      <li (click)="closeMenu()">
        <a routerLink="/cart">Votre Panier</a>
      </li>
    </nav>
    <div class="cta">
      <button class="orange">Se connecter</button>
      <ng-container *ngIf="(currentPath | async) != DOMES_BASE_PATHS.SIGNUP; else elseBlock">
        <p ><a routerLink="/signup">Pas encore inscrit ?</a></p>
      </ng-container>
      <ng-template #elseBlock>
        <!-- content to render if condition is false -->
      <p ><a routerLink="/login">Vous avez déja un compte ?</a></p>
      </ng-template>

    </div>
  </div>
</div>
