<div class="root">
  <div class="menu-content">
    <p (click)="closeMenu()" class="close">X</p>
    <nav>
      <li (click)="closeMenu()">
        <a routerLink="/home">Accueil</a>
      </li>
      <li (click)="closeMenu()">
        <a routerLink="/products">Nos Produits</a>
      </li>
      <li (click)="closeMenu()">
        <a routerLink="/cart">Votre Panier</a>
      </li>
      <li *ngIf="isConnected" (click)="closeMenu()">
        <a routerLink="/user-account" routerLinkActive="active">Mon Compte</a>
      </li>
    </nav>
    <div class="cta">
      <button *ngIf="(currentPath | async) != DOMES_BASE_PATHS.LOGIN;" class="orange" (click)="handleClick()">{{isConnected ? 'Se déconnecter' : 'Se connecter'}}</button>
      <div *ngIf="!isConnected">
        <ng-container *ngIf="(currentPath | async) != DOMES_BASE_PATHS.SIGNUP;">
          <p><a routerLink="/signup">Pas encore inscrit ?</a></p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
